<!DOCTYPE html>
<html lang="zh-Hant">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="format-detection" content="telephone=no" />
    <title>GASH</title>
    <link rel="shortcut icon" href="img/favicon.ico" type="img/favicon.ico" />
    <link rel="stylesheet" href="css/styles.css" />
    <style>
      /* 背景色控制處 */
      body {
        background-color: #e72e6b;
      }
    </style>
</head>

<body>
    <header>
        <div>
            <img src="img/gash-logo.svg" />
            <h1>結帳</h1>
        </div>
    </header>
    <div id="app">
        <main>
            <!-- 訂單資訊 -->
            <section class="order-info">
                <p>訂單編號：GP01234567890123</p>
                <p>訂單金額：<span>NT$ 1,614</span></p>
            </section>
            <form action="javascript:void(0);">
                <!-- 付款人資訊 -->
                <section class="payer-info">
                    <h2>付款人資訊</h2>
                    <ul>
                        <li>
                            <label for="payerMail">電子信箱 *</label>
                            <input type="email" id="payerMail" name="payerMail" placeholder="請輸入電子信箱" pattern="^[a-z0-9]+([._\\-]*[a-z0-9])*@([a-z0-9]+[-a-z0-9]*[a-z0-9]+.){1,63}[a-z0-9]+$" />
                            <span class="info is-error">信箱格式不正確，請輸入有效的信箱地址</span>
                            <span class="info is-tip">為確保您的權益，電子信箱將僅用於交易通知與查詢聯繫，請確認填寫正確無誤。</span>
                        </li>
                        <li class="countryCode">
                            <label for="payerPhone">聯絡電話 *</label>
                            <select v-model="payerPhoneCode">
                                <option v-for="item in countryCodeOption" :key="item.id" :value="item.value">
                                    {{item.label}}
                                </option>
                            </select>
                            <input type="tel" id="payerPhone" name="payerPhone" placeholder="0987654321" onkeyup="value=value.replace(/[^\d]/g,'')" required />
                            <span class="info is-error" style="display: none">格式不正確</span>
                        </li>
                        <li class="points">
                            <p class="points-title">FunOne Points 新登場！</p>
                            <span>輸入手機門號，累積 FunOne Points 點數，兌換超值獎勵！詳情請見 <a href="https://points.funone.io/" target="_blank">FunOne Points</a> 官方網站。</span>
                            <div class="scrollable">
                                <div>
                                    <p>
                                        ※ 提交即同意紅利規範<br>
                                        FunOne Points 紅利點數規約<br>
                                        親愛的會員您好！為回饋您一直以來的支持，樂點股份有限公司(以下簡稱本公司、我們)特別推出 FunOne Points 紅利點數系統(下稱本服務)，讓您的儲值消費享受更多的回饋服務！為了保障您的權益，本公司訂定 FunOne Points 紅利點數規約(下稱本規約)，規範紅利點數之給付及使用等相關事宜。當您註冊成為 FunOne 會員並使用本服務，即代表您已閱讀、瞭解並同意遵守本規約及相關規範。<br>
                                        壹、紅利點數累積<br>
                                        1、累積紅利點數前要準備些什麼？<br>
                                        在累積紅利點數前，請您先註冊成為 FunOne 會員，並通過手機身分認證，即可開啟累積紅利點數的服務。<br>
                                        ※ 由於紅利點數發放時將依照 GASH 點數儲值時所輸入的手機號碼進行派發，若儲值當下尚未成為 FunOne 會員，須於儲值後登入 FunOne Points 官方網站，進行會員註冊與點數補領。<br>
                                        ※ 請注意！會員註冊時，需綁定與儲值時輸入的相同手機號碼，且事後補領紅利點數不影響其使用期限(使用期限規定詳參本規約第五點)。<br>
                                        ※ 您若申請終止會員或經本公司撤銷、終止您的會員資格，則紅利點數及優惠等同時失效。日後如重新申請會員，將視為新會員，過去的點數與優惠將不予追溯或補發。<br>
                                        2、紅利點數怎麼獲得？<br>
                                        1. 會員於累點通路(以下定義)進行 GASH 點數儲值，並輸入正確的會員手機號碼才可累積紅利點數，若輸入錯誤，恕不接受申請追溯或補發點數。<br>
                                        ※ 請注意！購買 GASH 點數後未實際儲值於遊戲內者，無法累積紅利點數!<br>
                                        2. 每筆交易僅限登錄一組會員手機，儲值 GASH 點數時，請務必自行核對輸入資訊之正確性。<br>
                                        3. 會員須使用台灣手機門號（+886 開頭）才能參與累點機制，若使用其他國家或地區之手機號碼，將無法累積紅利點數。<br>
                                        4. 本公司目前僅依台幣交易之付款方式計算紅利點數之派發，並保留依實際營運成本、合作廠商之條件或其他必要因素進行變更之權利。若有任何調整，將以本公司公告為準。<br>
                                        5. 會員於指定活動期間內參與點數相關活動並符合活動規則者，可依活動公告所載之內容與日期獲得相應點數。<br>
                                        3、可以累積紅利點數的通路及活動？<br>
                                        1. 累點通路：凡與 GASH 點數儲值合作之遊戲通路皆可登錄累積紅利點數。惟各遊戲通路之適用規則有所差異，本公司將另行公告適用之累點通路及相關付款規則，會員應依公告內容為準。<br>
                                        2. 累點活動：依各專案活動辦法及公告內容辦理。<br>
                                        4、紅利點數的計算方式？<br>
                                        1. 單筆交易中每累積新台幣50元之儲值金額，可獲得1點紅利點數，點數計算至整數為止，小數點以後無條件捨去。<br>
                                        ※ 專案活動給點計算方式，依各活動公告內容為準。<br>
                                        2. 紅利點數之計算以「實際支付金額」為準，不含運費、折扣金額及其他非商品價值的支出。<br>
                                        3. 本公司保留排除特定活動或商品（如：促銷商品、特殊折扣品）累積紅利點數之權利。<br>
                                        5、紅利點數的使用期限？<br>
                                        1. 當年度所累積之紅利點數需於隔年度12月31日(含)前使用完畢，若未使用將會自動歸零，恕無法展延使用、折算現金或給予其他給付。<br>
                                        2. 紅利點數之累積計算依會員進行該筆儲值交易之年度為準，事後補領不影響紅利點數之使用期限。例如:若您於2025年6月進行儲值，並於2026年11月才完成會員註冊並補領點數，則該筆儲值獲得的點數仍依2025年度累積計算，最晚須於2026年12月31日前使用，逾期將自動歸零。<br>
                                        3. 紅利點數係依點數效期依序扣點，點數效期先到期者優先扣除，點數到期日相同時，則扣除先入帳之點數。紅利點數若已逾效期，則不歸還。<br>
                                        4. 本公司保有依各專案活動調整該點數規則之權利，相關規定以各專案活動公告內容為準。<br>
                                        6、注意事項<br>
                                        1. 紅利點數僅限 FunOne 會員本人帳號使用，於會員完成兌換前並不構成會員之資產，且會員不得要求將紅利點數變換現金、其他利益或轉讓、贈與他人。<br>
                                        2. 若訂單退貨或取消，該訂單所獲得的紅利點數將自動扣回。<br>
                                        3. 若會員以不正當方式獲取紅利點數（如濫用退貨機制、透過非正常交易方式獲取點數等），本公司有權暫停或取消其紅利點數，並視情節決定是否限制其使用本服務。<br>
                                        貳、紅利點數兌換<br>
                                        1、會員得使用紅利點數兌換/折抵特定合作通路或商家之商品，我們盡力提供多樣的商品回饋，詳情請參考我們的網站：<a href="https://points.funone.io" target="_blank">https://points.funone.io</a>。<br>
                                        2、紅利點數目前僅適用於台灣地區，會員僅能兌換適用於台灣之商品或服務，本公司得視市場狀況或合作夥伴政策，調整可兌換之商品或服務，並保留變更兌換條件之權利。<br>
                                        3、您所兌換的服務或商品，可能會有使用條件的限制，包括但不限於適用對象、適用期間等，兌換商品前，請仔細閱讀相關注意事項；服務或商品經兌換後無法再辦理退換貨、或是換回紅利點數。<br>
                                        4、特別提醒！紅利點數兌換的商品或服務，係由相關供應商或合作夥伴直接提供，本公司僅負責兌換程序，不對商品或服務的品質、可用性或任何後續問題負責。若需查詢或反映兌換商品或服務相關問題，請依商品或服務標示之聯繫資訊，直接聯繫供應商。我們會盡力篩選優質供應商，但不保證所有兌換商品或服務的滿意度，敬請理解。<br>
                                        參、其他說明<br>
                                        1. 有關本規約未規定之事項，仍適用 FunOne 會員中心服務條款。<br>
                                        2. 若因天災等不可抗力或其他不可歸責於本公司之因素，致使無法提供本服務時，將於系統恢復正常後依公告說明辦理。<br>
                                        3. 本公司保留隨時修改、變更、暫停或終止本規約的權利，包括但不限於兌換資格、累點計算、兌換商品及購物折抵方式，並有權停止所有紅利點數兌換/折抵活動。相關變動將以公告為之，請以最新公告內容為準。<br>
                                        4. 若有疑問，歡迎聯繫我們的客服專線：02-8226-1305，或來信客服信箱：b2ccs@gashpoint.com。<br>
                                        5. 本規約之解釋與適用，以中華民國法律為準據法，如因本規約產生爭議而涉訟，同意以臺灣台北地方法院為第一審管轄法院。<br>
                                        感謝您的支持與愛護！快來累積紅利點數，享受更多回饋吧！
                                    </p>
                                </div>
                            </div>
                        </li>
                    </ul>
                </section>
                <!-- 信用卡資訊 -->
                <section class="cc-info">
                    <h2>
                        信用卡資訊
                        <div class="tooltip" @click="toggleTooltip" @mouseover="moverShow" @mouseleave="mleaveHide">
                            <img src="img/icon/question.svg" />
                            <ul :class="{ 'show': isTooltipVisible }">
                                <li>點擊輸入框可更換信用卡資訊。</li>
                                <li>
                                    勾選同意儲存，可在下次交易時自動代入信用卡資訊；若不勾選，則不會代入。
                                </li>
                            </ul>
                        </div>
                    </h2>
                    <button type="button" @click="clearCC" class="underlined">
                        清除
                    </button>
                    <div class="alert">
                        <img src="img/icon/info.svg">
                        若無法輸入，請切換為英數輸入法
                    </div>
                    <ul>
                        <li>
                            <label for="ccID">信用卡號碼 *</label>
                            <!-- 請協助將下方input調整為：1.每輸入4個數字，會自動添加一個空格。2.輸入前6碼卡號要能自動辨識發卡組織，並變換右邊的logo -->
                            <input style="background-image: url(../img/icon/creditCard.svg);" class="cradit-card" type="text" id="ccID" name="ccID" placeholder="0000 0000 0000 0000" onkeyup="value=value.replace(/[^\d]/g,'')" maxlength="16" required />
                            <!-- 
                            <div class="credit-card">
                                <input type="text" maxlength="4" placeholder="0000" required>
                                <input type="text" maxlength="4" placeholder="0000" required>
                                <input type="text" maxlength="4" placeholder="0000" required>
                                <input type="text" maxlength="4" placeholder="0000" required>
                            </div>
                             -->
                            <span class="info is-error">無效或系統不支援的卡號</span>
                        </li>
                        <li class="input-group">
                            <div>
                                <label for="expiryDate">到期日 *</label>
                                <!-- 請協助判斷：卡片年月小於當前年月，則會顯示「卡片已過期」 -->
                                <input type="text" id="expiryDate" name="expiryDate" placeholder="MM/YY" onkeyup="value=value.replace(/[^\d]/g,'')" maxlength="4" required />
                                <!-- <div class="credit-card date">
                                    <input type="text" maxlength="2" placeholder="MM" required>
                                    <input type="text" maxlength="2" placeholder="YY" required>
                                </div> -->
                                <span class="info is-error">卡片已過期</span>
                            </div>
                            <div>
                                <label for="CVN">安全驗證碼 *</label>
                                <input type="text" id="CVN" name="CVN" placeholder="000" onkeyup="value=value.replace(/[^\d]/g,'')" maxlength="3" required />
                                <span class="info is-error">驗證碼格式錯誤</span>
                            </div>
                        </li>
                        <li class="input-group">
                            <div>
                                <label for="surName">姓氏 *</label>
                                <input type="text" id="sernName" name="sernName" placeholder="姓氏" required />
                                <span class="info is-error" style="display: none">此為必填</span>
                            </div>
                            <div>
                                <label for="givenName">名字 *</label>
                                <input type="text" id="givenName" name="givenName" placeholder="名字" required />
                                <span class="info is-error" style="display: none">此為必填</span>
                            </div>
                        </li>
                        <li>
                            <input type="checkbox" class="checkbox" value="agreeProductTerms" id="ccAgree" />
                            <label for="ccAgree">我同意儲存此張信用卡，方便快速結帳</label>
                        </li>
                    </ul>
                </section>
                <!-- 發票資訊 -->
                <section class="invoice-info">
                    <h2>發票資訊</h2>
                    <ul>
                        <li>
                            <label for="invoice">統一發票類型 *</label>
                            <select v-model="invoiceType" name="invoice" id="invoice">
                                <option v-for="item in invoiceOption" :key="item.id" :value="item.value">
                                    {{item.label}}
                                </option>
                            </select>
                            <select v-model="donateType" v-show="invoiceType === 'donate'">
                                <option v-for="item in donateOption" :key="item.id" :value="item.value">
                                    {{item.label}}
                                </option>
                            </select>
                        </li>
                        <li v-show="invoiceType === 'donate' && donateType === 'other'">
                            <label for="donate">捐贈碼 *</label>
                            <input type="text" id="donate" name="donate" placeholder="請輸入半形數字捐贈碼" onkeyup="value=value.replace(/[^\d]/g,'')" minlength="3" maxlength="7" required />
                            <div class="group">
                                <span class="info is-error" style="display: none">此為必填</span>
                                <a href="https://www.einvoice.nat.gov.tw/APCONSUMER/BTC603W/" target="_blank">捐贈碼查詢</a>
                            </div>
                        </li>
                        <li v-show="invoiceType === 'personal'">
                            <label for="billingEmail">發票寄送電子信箱 *</label>
                            <input type="text" id="billingEmail" class="input" name="billingEmail" placeholder="請輸入電子信箱" pattern="^[a-z0-9]+([._\\-]*[a-z0-9])*@([a-z0-9]+[-a-z0-9]*[a-z0-9]+.){1,63}[a-z0-9]+$" required />
                            <span class="info is-error" style="display: none">格式不正確</span>
                        </li>
                        <li v-show="invoiceType === 'phone'">
                            <label for="billingPhone">手機條碼 *</label>
                            <input type="text" id="billingPhone" class="input" name="billingPhone" placeholder="/12AB12C" onkeyup="value=value.replace(/[^\w\.\/]/ig,'')" maxlength="8" required />
                            <span class="info is-error" style="display: none">此為必填</span>
                        </li>
                        <li v-show="invoiceType === 'natural'">
                            <label for="billingNatural">自然人憑證條碼 *</label>
                            <input type="text" id="billingNatural" class="input" name="billingNatural" placeholder="AB12345678901234" onkeyUp="value=value.replace(/[\W]/g,'')" maxlength="16" required />
                            <span class="info is-error" style="display: none">格式不正確</span>
                        </li>
                        <li v-show="invoiceType === 'company'">
                            <label for="invoiceTitle">公司抬頭或姓名 *</label>
                            <input type="text" id="invoiceTitle" class="input" name="invoiceTitle" placeholder="請輸入公司抬頭或姓名" required />
                            <span class="info is-error" style="display: none">格式不正確</span>
                        </li>
                        <li v-show="invoiceType === 'company'">
                            <label for="BuyerUCode">統一編號 *</label>
                            <input type="text" id="BuyerUCode" class="input" maxlength="8" name="BuyerUCode" placeholder="請輸入統一編號，送出後無法更改" required />
                            <span class="info is-error" style="display: none">格式不正確</span>
                        </li>
                        <li class="address" v-show="invoiceType === 'company'">
                            <label for="city">發票寄送地址 *</label>
                            <input class="js-demeter-tw-zipcode-selector" data-city="#city" data-dist="#area" placeholder="請輸入郵遞區號" value="100" style="display: none" />
                            <select id="city" placeholder="請選擇縣市"></select>
                            <select id="area" placeholder="請選擇鄉鎮區"></select>
                            <input type="text" id="InvoiceAddr" class="input" name="InvoiceAddr" placeholder="請輸入收件地址，送出後無法更改" />
                            <span class="info is-error" style="display: none">格式不正確</span>
                        </li>
                        <li>
                            <input type="checkbox" class="checkbox" value="agreeProductTerms" id="agree-product-terms" />
                            <label class="checkbox__label" for="agree-product-terms">記住本次發票相關資訊，方便日後快速結帳</label>
                        </li>
                    </ul>
                </section>
                <!-- 手機驗證 -->
                <section class="phone-info">
                    <h2>手機驗證</h2>
                    <ul>
                        <li class="countryCode">
                            <label for="verifyPhoneCode">手機號碼 *</label>
                            <select v-model="verifyPhoneCode" id="verifyPhoneCode">
                                <option v-for="item in countryCodeOption" :key="item.id" :value="item.value">
                                    {{item.label}}
                                </option>
                            </select>
                            <div class="send-input">
                                <input class="input" id="verifyPhoneID" type="tel" placeholder="0987654321" v-model="verifyPhoneID" onkeyup="value=value.replace(/[^\d]/g,'')" required />
                                <button class="send" type="button" v-if="verifyPhoneID === '0987654321'" @click="sendVC">
                                    發送驗證碼
                                </button>
                                <button class="send" type="button" v-else disabled>
                                    發送驗證碼
                                </button>
                                <!-- loading 用 -->
                                <button class="btn-load-more js-load-more is-loading" type="button">
                                    <span class="btn-load-more__dots">
                                        <span class="btn-load-more__dot dot-1"></span>
                                        <span class="btn-load-more__dot dot-2"></span>
                                        <span class="btn-load-more__dot dot-3"></span>
                                    </span>
                                </button>
                            </div>
                            <span class="info is-error" style="display: none">格式不正確</span>
                            <!-- 發送驗證碼已達上限：文案 -->
                            <!-- <span class="info is-error" style="display: none;">* 此號碼已超過發送次數，請於24小時後重新操作</span> -->
                        </li>
                        <li>
                            <label for="SMS">簡訊驗證碼 *</label>
                            <input type="text" id="SMS" name="SMS" placeholder="請輸入簡訊驗證碼" onkeyup="value=value.replace(/[^\d]/g,'')" maxlength="6" v-model="SMSID" required />
                            <span class="info is-tip" id="SMStip" style="display: none">此驗證碼將於5分鐘後過期</span>
                            <!-- 驗證碼過期：文案 -->
                            <span class="info is-error" id="SMSerror" style="display: none">驗證碼錯誤，請重新輸入</span>
                            <!-- 發送驗證碼錯誤：文案 -->
                            <!-- <span class="info is-error" id="SMSerror" style="display: none;">* * 驗證碼錯誤，請於24小時後重新操作</span> -->
                        </li>
                    </ul>
                </section>
            </form>
        </main>
        <section class="fixed-info">
            <p>訂單金額</p>
            <p class="price">NT$ 1,614</p>
            <button type="button" :disabled="verifyPhoneID !== '0987654321' || !SMSID.length" @click="checkVC">
                確認結帳
            </button>
        </section>
    </div>

    <!-- jQuery -->
    <script src="vendor/vue-2.6.14.min.js"></script>
    <script src="vendor/jquery-3.4.1.min.js"></script>
    <script src="vendor/zipcode-selector.js"></script>
    <script type="text/javascript">
    var vm = new Vue({
        el: "#app",
        data() {
            return {
                payerPhoneCode: "TW",
                invoiceType: "donate",
                donateType: "default",
                verifyPhoneCode: "TW",
                verifyPhoneID: "",
                SMSID: "",
                isTooltipVisible: false,
                isHoverSupported: window.matchMedia("(hover: hover)").matches,

                countryCodeOption: [
                    { label: "台灣(+886)", value: "TW", id: "TW" },
                    { label: "香港(+852)", value: "HK", id: "HK" },
                    { label: "澳門(+853)", value: "MO", id: "MO" },
                    { label: "美國(+1)", value: "US", id: "US" },
                    { label: "新加坡(+65)", value: "SG", id: "SG" },
                    { label: "泰國(+66)", value: "TL", id: "TL" },
                    { label: "越南(+84)", value: "VN", id: "VN" },
                    { label: "馬來西亞(+60)", value: "MY", id: "MY" },
                    { label: "印尼(+62)", value: "ID", id: "ID" },
                    { label: "中國(+86)", value: "CN", id: "CN" },
                ],
                invoiceOption: [
                    { label: "捐贈發票", value: "donate", id: "donate" },
                    { label: "電子發票", value: "personal", id: "personal" },
                    { label: "手機條碼", value: "phone", id: "phone" },
                    { label: "自然人憑證條碼", value: "natural", id: "natural" },
                    { label: "三聯式發票", value: "company", id: "company" },
                ],
                donateOption: [{
                        label: "社團法人台灣一起夢想公益協會",
                        value: "default",
                        id: "default",
                    },
                    { label: "其他受捐贈機關或團體", value: "other", id: "other" },
                ],
            };
        },
        methods: {
            // 更換綁定信用卡
            clearCC() {
                const inputElements = document.querySelectorAll(".cc-info input");
                inputElements.forEach((input) => {
                    input.value = "";
                });

                const checkboxElement = document.querySelector(".cc-info #ccAgree");
                if (checkboxElement) {
                    checkboxElement.checked = false;
                }
            },

            // 發送驗證碼
            sendVC: function() {
                $(".btn-load-more").show();
                $(".send").hide();
                $("#verifyPhoneCode").attr("disabled", "disabled");
                $("#verifyPhoneID").attr("disabled", "disabled");

                // 3秒後顯示
                setTimeout(function() {
                    $(".btn-load-more").hide();
                    $(".send").show();
                    $("#verifyPhoneCode").removeAttr("disabled", "");
                    $("#verifyPhoneID").removeAttr("disabled", "");
                    $(".send").text("60s");
                    $(".send").prop("disabled", true);
                    $("#SMStip").show();
                    var count = 60;
                    var interval = setInterval(function() {
                        count--;
                        $(".send").text(count + "s");
                        if (count == 0) {
                            clearInterval(interval);
                            $(".send").prop("disabled", false).text("發送驗證碼");
                        }
                    }, 1000);
                }, 3000);
            },

            // 檢查驗證碼
            checkVC: function() {
                var verifyCode = $("#SMS").val();
                if (verifyCode.length) {
                    $("#SMStip").hide();
                    $("#SMSerror").show();
                } else {
                    // $('#SMSerror').show();
                    // $('#SMStip').hide();
                }
            },

            // 信用卡說明
            toggleTooltip() {
                if (!this.isHoverSupported) {
                    this.isTooltipVisible = !this.isTooltipVisible;
                }
            },
            tooltipShow() {
                this.isTooltipVisible = true;
            },
            tooltipHide() {
                this.isTooltipVisible = false;
            },
            moverShow() {
                if (this.isHoverSupported && window.innerWidth > 768) {
                    this.tooltipShow();
                }
            },
            mleaveHide() {
                if (this.isHoverSupported && window.innerWidth > 768) {
                    this.tooltipHide();
                }
            },
            handleBodyClick(event) {
                const tooltip = document.querySelector(".tooltip");
                if (!tooltip.contains(event.target)) {
                    this.tooltipHide();
                    console.log("hi");
                }
            },
        },
        mounted() {
            document.body.addEventListener("click", this.handleBodyClick);
        },
        beforeDestroy() {
            document.body.removeEventListener("click", this.handleBodyClick);
        },
    });

    /*
    信用卡號
    $(".credit-card input").on("keydown", function(e){
        if((e.which >= 48 && e.which <= 57) || e.which == 8){

        if(e.target.value.length == 0 && e.which == 8){
            $(this).prev().focus();
        }

        }else{
        e.preventDefault();
        }
    });
    $(".credit-card input").on("keyup", function(e){
        let str = (e.target.value).replace(/\D/g, "");

        $(this).val(str);

        if(str.length == 4){
            $(this).next().focus();
        }
    });

    信用卡到期日
    $(".credit-card.date input").on("keydown", function(e){
        if((e.which >= 48 && e.which <= 57) || e.which == 4){

        if(e.target.value.length == 0 && e.which == 4){
            $(this).prev().focus();
        }

        }else{
        e.preventDefault();
        }
    });

    $(".credit-card.date input").on("keyup", function(e){
        let str = (e.target.value).replace(/\D/g, "");

        $(this).val(str);

        if(str.length == 2){
            $(this).next().focus();
        }
    });
    */
    </script>
</body>

</html>