#app {
  position: relative;
  overflow: hidden;
}

header {
  padding: 20px 0;
  background-color: map-get($color, off-white);
  box-shadow: 0px 4px 15px 0px rgba(53, 59, 80, 0.1);

  > div {
    max-width: 640px;
    margin: 0 auto;
    padding: 0 12px;
    position: relative;
    display: flex;
    align-items: center;

    img {
      max-height: 22px;
      max-width: 88px;
      padding-right: 12px;
      margin-right: 12px;
      border-right: 1px solid map-get($color, disabled);
    }
  }
}

main {
  width: 100%;
  max-width: 640px;
  padding: 16px 12px 120px;
  margin: 0 auto;
  box-sizing: border-box;
  position: relative;

  section {
    padding: 24px 20px;
    box-sizing: border-box;
    border-radius: 8px;
    border: 1px solid #f4f4f4;
    background-color: map-get($color, off-white);
    box-shadow: 0px 0px 15px 0px rgba(53, 59, 80, 0.1);
    margin-bottom: 16px;

    &:nth-child(1) h2::before {
      content: "1";
    }

    &:nth-child(2) h2::before {
      content: "2";
    }

    &:nth-child(3) h2::before {
      content: "3";
    }

    &:nth-child(4) h2::before {
      content: "4";
    }

    ul {
      display: flex;
      flex-direction: column;
      gap: 16px;

      li.countryCode {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        gap: 4px;

        select {
          flex: 1;
        }

        input {
          flex: 2;
        }
      }

      li.points {
        position: relative;
        color: map-get($color, FunOne-500);
        background-color: map-get($color, FunOne-50);
        padding: 12px 16px;
        border-radius: 8px;
        font-size: 12px;
        display: flex;
        flex-direction: column;
        gap: 8px;
        margin-top: 8px;

        span,
        a,
        p {
          font-family: map-get($font, NotoSans);
        }

        a {
          text-decoration: underline;
          color: map-get($color, FunOne-500);
        }

        .scrollable {
          background-color: map-get($color, Gray-0);
          border-radius: 8px;
          padding: 12px 16px;

          div {
            max-height: 80px;
            display: flex;
            flex-direction: column;
            overflow-y: auto;
            padding-right: 8px;

            p {
              font-size: 12px;
              color: map-get($color, BlueGray-400);
            }

            &::-webkit-scrollbar {
              display: inline;
              width: 5px;
              border-radius: 10px;
            }

            &::-webkit-scrollbar-thumb {
              width: 5px;
              border-radius: 10px;
              background-color: map-get($color, BlueGray-200);
            }
          }
        }
      }
    }
  }
}

section.fixed-info {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 8px;
  width: 100%;
  padding: 12px 20px 20px;
  background-color: map-get($color, off-white);
  border-radius: 12px 12px 0 0;
  box-shadow: 0px -4px 10px 0px rgba(0, 0, 0, 0.04);
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 1;

  p {
    @include font(14, Medium);
    color: map-get($color, primaryA);

    &.price {
      @include font(22, Medium);
      color: map-get($color, Primary-500);
    }
  }
}

//訂單資訊
.order-info {
  display: flex;
  flex-direction: column;
  gap: 8px;

  p {
    @include font(16, Medium);
    color: map-get($color, BlueGray-500);

    span {
      color: map-get($color, Primary-500);
      font-weight: map-get($font-weight, Medium);
    }
  }
}

//付款人資訊
.payer-info {
}

//信用卡資訊
.cc-info {
  position: relative;

  button {
    width: auto;
    padding: 8px 12px;
    @include font(14, Medium);
    position: absolute;
    top: 24px;
    right: 20px;
  }

  .alert {
    background-color: map-get($color, Alert-50);
    color: map-get($color, BlueGray-300);
    font-size: 14px;
    border-radius: 6px;
    padding: 8px 16px;
    display: flex;
    align-items: center;
    gap: 4px;
    margin-bottom: 20px;
  }

  .cradit-card {
    background-position: center right 12px;
    background-size: 22px;
    background-repeat: no-repeat;
  }

  .input-group {
    display: flex;
    gap: 4px;

    > div {
      flex: 1;
    }
  }
}

//發票資訊
.invoice-info {
  li:first-child {
    select {
      margin-bottom: 8px;

      &:last-child {
        margin-bottom: 0px;
      }
    }
  }

  .group {
    display: flex;
    margin-top: 4px;
    flex-direction: row;
    align-items: center;
    justify-content: right;
    gap: 8px;

    span {
      width: calc(100% - 8px - 60px);
      margin: 0;
    }

    a {
      @include font(12);
      color: map-get($color, primaryA);
      text-decoration: underline;
      transition: all 0.3s ease;

      @media (hover: hover) {
        &:hover {
          opacity: 0.5;
          transition: all 0.3s ease;
        }
      }
    }
  }

  .address {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 8px 4px;

    select#city,
    select#area {
      width: calc(50% - 2px);
    }
  }
}

//手機驗證
.phone-info {
  .send-input {
    flex: 2;
    position: relative;

    .input {
      padding-right: 110px;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
    }

    .send {
      width: 102px;
      @include font(14, Medium);
      color: map-get($color, off-white);
      text-align: center;
      border-radius: 0 8px 8px 0;

      position: absolute;
      top: 1px;
      right: 1px;
      border: 0;

      &:disabled {
        background-color: map-get($color, disabled);
        cursor: auto;
      }
    }
  }
}
