@charset "UTF-8";
/* reset css */
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100;200;300;400;500;600;700;900&display=swap");
* {
  box-sizing: border-box;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
font,
img,
ins,
kbd,
q,
s,
samp,
section,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

ol {
  padding-left: 24px;
  line-height: initial;
}

ul {
  line-height: initial;
  padding-left: 0;
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

:focus {
  outline: 0;
}

ins {
  text-decoration: none;
}

del {
  text-decoration: line-through;
}

/* tables still need 'cellspacing="0"' in the markup */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

button {
  border: 0;
  cursor: pointer;
}

.color-primaryA {
  color: #353b50;
}

.bg-primaryA {
  background-color: #353b50;
}

.color-primaryB {
  color: #1e2333;
}

.bg-primaryB {
  background-color: #1e2333;
}

.color-secondaryA {
  color: #ff8412;
}

.bg-secondaryA {
  background-color: #ff8412;
}

.color-off-white {
  color: #fff;
}

.bg-off-white {
  background-color: #fff;
}

.color-dark {
  color: #333333;
}

.bg-dark {
  background-color: #333333;
}

.color-disabled {
  color: #dddddd;
}

.bg-disabled {
  background-color: #dddddd;
}

.color-off-pink {
  color: #e72e6b;
}

.bg-off-pink {
  background-color: #e72e6b;
}

.color-BlueGray-100 {
  color: #afb4c2;
}

.bg-BlueGray-100 {
  background-color: #afb4c2;
}

.color-BlueGray-200 {
  color: #9a9da7;
}

.bg-BlueGray-200 {
  background-color: #9a9da7;
}

.color-BlueGray-300 {
  color: #62616e;
}

.bg-BlueGray-300 {
  background-color: #62616e;
}

.color-BlueGray-400 {
  color: #54596d;
}

.bg-BlueGray-400 {
  background-color: #54596d;
}

.color-BlueGray-500 {
  color: #353b50;
}

.bg-BlueGray-500 {
  background-color: #353b50;
}

.color-BlueGray-600 {
  color: #2a2f40;
}

.bg-BlueGray-600 {
  background-color: #2a2f40;
}

.color-BlueGray-700 {
  color: #1e2333;
}

.bg-BlueGray-700 {
  background-color: #1e2333;
}

.color-BlueGray-800 {
  color: #151820;
}

.bg-BlueGray-800 {
  background-color: #151820;
}

.color-BlueGray-900 {
  color: #0b0c10;
}

.bg-BlueGray-900 {
  background-color: #0b0c10;
}

.color-Primary-500 {
  color: #e72e6b;
}

.bg-Primary-500 {
  background-color: #e72e6b;
}

.color-Gray-0 {
  color: #ffffff;
}

.bg-Gray-0 {
  background-color: #ffffff;
}

.color-Gray-100 {
  color: #f8f8f8;
}

.bg-Gray-100 {
  background-color: #f8f8f8;
}

.color-Gray-150 {
  color: #f6f6f6;
}

.bg-Gray-150 {
  background-color: #f6f6f6;
}

.color-Gray-200 {
  color: #f2f2f2;
}

.bg-Gray-200 {
  background-color: #f2f2f2;
}

.color-Gray-300 {
  color: #eeeeee;
}

.bg-Gray-300 {
  background-color: #eeeeee;
}

.color-Gray-500 {
  color: #dddddd;
}

.bg-Gray-500 {
  background-color: #dddddd;
}

.color-Gray-600 {
  color: #bfbfbf;
}

.bg-Gray-600 {
  background-color: #bfbfbf;
}

.color-Gray-700 {
  color: #a2a2a2;
}

.bg-Gray-700 {
  background-color: #a2a2a2;
}

.color-Gray-800 {
  color: #848484;
}

.bg-Gray-800 {
  background-color: #848484;
}

.color-Gray-900 {
  color: #676767;
}

.bg-Gray-900 {
  background-color: #676767;
}

.color-Alert-50 {
  color: #fff1f6;
}

.bg-Alert-50 {
  background-color: #fff1f6;
}

.color-Alert-100 {
  color: #fad5e1;
}

.bg-Alert-100 {
  background-color: #fad5e1;
}

.color-Alert-200 {
  color: #f5abc4;
}

.bg-Alert-200 {
  background-color: #f5abc4;
}

.color-Alert-300 {
  color: #f182a6;
}

.bg-Alert-300 {
  background-color: #f182a6;
}

.color-Alert-400 {
  color: #ec5889;
}

.bg-Alert-400 {
  background-color: #ec5889;
}

.color-Alert-500 {
  color: #e72e6b;
}

.bg-Alert-500 {
  background-color: #e72e6b;
}

.color-Alert-600 {
  color: #b92556;
}

.bg-Alert-600 {
  background-color: #b92556;
}

.color-Alert-700 {
  color: #8b1c40;
}

.bg-Alert-700 {
  background-color: #8b1c40;
}

.color-Alert-800 {
  color: #5c122b;
}

.bg-Alert-800 {
  background-color: #5c122b;
}

.color-Alert-900 {
  color: #2e0915;
}

.bg-Alert-900 {
  background-color: #2e0915;
}

.color-Orange-500 {
  color: #ff8412;
}

.bg-Orange-500 {
  background-color: #ff8412;
}

.color-FunOne-50 {
  color: #f0e5fd;
}

.bg-FunOne-50 {
  background-color: #f0e5fd;
}

.color-FunOne-300 {
  color: #a366f5;
}

.bg-FunOne-300 {
  background-color: #a366f5;
}

.color-FunOne-500 {
  color: #6500ee;
}

.bg-FunOne-500 {
  background-color: #6500ee;
}

/* -- Global.scss -- */
/* 反白選取樣式 */
::-moz-selection {
  background-color: rgba(53, 59, 80, 0.9);
  color: #fff;
}

::selection {
  background-color: rgba(53, 59, 80, 0.9);
  color: #fff;
}

::-webkit-scrollbar {
  display: none;
}

html {
  scroll-behavior: smooth;
}

* {
  font-weight: 400;
  font-size: 20px;
  font-family: "Varela", "Noto Sans TC", sans-serif;
  font-weight: 300;
}

body {
  -webkit-tap-highlight-color: transparent;
  width: 100svw;
  overflow-x: hidden;
}
body.hidden {
  overflow: hidden;
}

/* 文字設定 */
h1 {
  font-weight: 600;
  font-size: 20px;
  color: #353b50;
  text-align: center;
}

h2 {
  margin-bottom: 20px;
  font-weight: 600;
  font-size: 18px;
  color: #353b50;
  display: flex;
  align-items: center;
}
h2::before {
  display: inline-grid;
  content: " ";
  width: 22px;
  height: 22px;
  overflow: hidden;
  margin-right: 8px;
  border-radius: 22px;
  text-align: center;
  font-weight: 500;
  font-size: 15px;
  line-height: 22px;
  color: #fff;
  background-color: #353b50;
}

.tooltip {
  margin-left: 8px;
  position: relative;
  display: flex;
  align-items: center;
}
.tooltip img {
  cursor: pointer;
}
.tooltip .tooltip-container {
  display: none;
  position: absolute;
  top: calc(100% + 8px);
  left: 50%;
  transform: translateX(-50%);
  width: 248px;
  max-width: calc(100svw - 40px);
  background-color: rgba(53, 59, 80, 0.9);
  color: #fff;
  border-radius: 8px;
  line-height: 1.6;
  gap: 0;
  padding: 8px 16px;
  font-size: 14px;
  z-index: 9;
}
.tooltip .tooltip-container.show {
  display: block;
}
.tooltip .tooltip-container::before {
  content: "";
  position: absolute;
  bottom: 100%;
  left: var(--arrow-offset, 50%);
  transform: translateX(-50%);
  display: block;
  width: 0;
  height: 0;
  border-bottom: 6px solid rgba(53, 59, 80, 0.9);
  border-right: 6px solid transparent;
  border-left: 6px solid transparent;
}
.tooltip ul {
  padding: 8px 16px 8px 32px;
  list-style-type: disc;
}

p,
ul,
ol {
  font-weight: 400;
  font-size: 18px;
  color: #333333;
}

a {
  text-decoration: none;
  transition: all 0.5s;
}
@media (hover: hover) {
  a:hover {
    transition: all 0.5s;
  }
}

i:before {
  font-family: "icomoon" !important;
}

label {
  width: 100%;
  margin-bottom: 8px;
  font-weight: 600;
  font-size: 15px;
  color: #353b50;
}
label + .tooltip {
  display: inline-block;
  transform: translate(-4px, 3px);
}

input,
select {
  width: 100%;
  padding: 12px;
  box-sizing: border-box;
  border: 1px solid #dddddd;
  border-radius: 8px;
  font-weight: 400;
  font-size: 14px;
  color: #353b50;
  background-color: #fff;
}
input::placeholder,
select::placeholder {
  color: #353b50;
  opacity: 0.5;
}
input:focus,
select:focus {
  border: 1px solid #353b50;
}
input:disabled,
select:disabled {
  opacity: 1;
  cursor: auto;
  background: none;
  background-color: #dddddd;
}
input:autofill, input:autofill:hover, input:autofill:focus, input:autofill:active,
select:autofill,
select:autofill:hover,
select:autofill:focus,
select:autofill:active {
  transition: background-color 5000s ease-in-out 0s;
}
input:-webkit-autofill,
select:-webkit-autofill {
  background-color: rgb(250, 255, 189) !important;
  background-image: none !important;
  color: red !important;
}
input.checkbox,
select.checkbox {
  display: none;
  width: auto;
  cursor: pointer;
}
input.checkbox + label,
select.checkbox + label {
  position: relative;
  padding-left: 25px;
  font-weight: 400;
  font-size: 14px;
  color: #353b50;
  cursor: pointer;
}
input.checkbox + label::before,
select.checkbox + label::before {
  content: " ";
  width: 16px;
  height: 16px;
  display: inline-block;
  background: #fff;
  border: 1px solid #dddddd;
  border-radius: 4px;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  transition: all 0.3s;
}
input.checkbox + label::after,
select.checkbox + label::after {
  content: "";
  width: 0;
  height: 0;
  border: 0 solid #fff;
  border-top: 0 none;
  border-right: 0 none;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  -webkit-transform-origin: left top;
  transform-origin: left top;
  position: absolute;
  top: 50%;
  left: 3px;
}
input.checkbox:checked + label::before,
select.checkbox:checked + label::before {
  border-color: #353b50;
  background: #353b50;
}
input.checkbox:checked + label::after,
select.checkbox:checked + label::after {
  border-width: 2px;
  animation: checkbox-checked 0.5s forwards;
}

select {
  appearance: none;
  background-image: url(../img/icon/arrow.svg);
  background-repeat: no-repeat;
  background-size: 16px auto;
  background-position: center right 8px;
  cursor: pointer;
}

.info {
  display: block;
  width: 100%;
  margin-top: 4px;
  font-weight: 400;
  font-size: 12px;
}
.info.is-error {
  color: #e72e6b;
}
.info.is-tip {
  color: #9a9da7;
}

.credit-card {
  display: flex;
  flex-direction: row;
  gap: 4px;
  width: 100%;
  padding: 12px;
  box-sizing: border-box;
  border: 1px solid #dddddd;
  border-radius: 8px;
}
.credit-card input {
  width: 35px;
  padding: 0;
  border: none;
  border-radius: 0;
}
.credit-card.date {
  font-weight: 400;
  font-size: 14px;
  color: rgba(53, 59, 80, 0.5);
}
.credit-card.date input {
  width: 25px;
}

button {
  width: 100%;
  overflow: hidden;
  padding: 12px 16px;
  border-radius: 8px;
  font-weight: 500;
  font-size: 16px;
  color: #fff;
  background-color: #353b50;
  transition: all 0.3s ease;
  z-index: 1;
}
button:disabled {
  background-color: #dddddd;
  cursor: auto;
}
@media (hover: hover) {
  button:disabled:hover {
    background-color: #dddddd;
  }
}
@media (hover: hover) {
  button:hover {
    background-color: #1e2333;
    transition: all 0.3s ease;
  }
}
button.underlined {
  border-radius: 0;
  background-color: transparent;
  color: #353b50;
  padding: 0 !important;
  border-bottom: 1px solid #353b50;
}

.btn-load-more {
  display: none;
  width: 102px;
  border-radius: 0 8px 8px 0;
  background-color: #dddddd;
  background: none;
  cursor: auto;
  position: absolute;
  top: 0;
  right: 0;
  padding: 19px 0;
}
@media (hover: hover) {
  .btn-load-more:hover {
    background-color: #dddddd;
  }
}
.btn-load-more::after {
  content: " ";
  display: block;
  margin: 0 auto;
  margin-top: 0.5rem;
  font-size: 0.75rem;
}
.btn-load-more .btn-load-more__dots {
  display: block;
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
}
.btn-load-more .btn-load-more__dots .btn-load-more__dot {
  display: inline-block;
  margin-right: 0.125rem;
  margin-left: 0.125rem;
  width: 0.25rem;
  height: 0.25rem;
  background: #353b50;
  border-radius: 9px;
  animation: ani-dot 1s infinite alternate;
}
.btn-load-more .btn-load-more__dots .btn-load-more__dot.dot-2 {
  animation-delay: 0.12s;
}
.btn-load-more .btn-load-more__dots .btn-load-more__dot.dot-3 {
  animation-delay: 0.24s;
}

#app {
  position: relative;
  overflow: hidden;
}

header {
  padding: 20px 0;
  background-color: #fff;
  box-shadow: 0px 4px 15px 0px rgba(53, 59, 80, 0.1);
}
header > div {
  max-width: 640px;
  margin: 0 auto;
  padding: 0 12px;
  position: relative;
  display: flex;
  align-items: center;
}
header > div img {
  max-height: 22px;
  max-width: 88px;
  padding-right: 12px;
  margin-right: 12px;
  border-right: 1px solid #dddddd;
}

main {
  width: 100%;
  max-width: 640px;
  padding: 16px 12px 120px;
  margin: 0 auto;
  box-sizing: border-box;
  position: relative;
}
main section {
  padding: 24px 20px;
  box-sizing: border-box;
  border-radius: 8px;
  border: 1px solid #f4f4f4;
  background-color: #fff;
  box-shadow: 0px 0px 15px 0px rgba(53, 59, 80, 0.1);
  margin-bottom: 16px;
}
main section:nth-child(1) h2::before {
  content: "1";
}
main section:nth-child(2) h2::before {
  content: "2";
}
main section:nth-child(3) h2::before {
  content: "3";
}
main section:nth-child(4) h2::before {
  content: "4";
}
main section ul {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
main section ul li.countryCode {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  gap: 4px;
}
main section ul li.countryCode select {
  flex: 1;
}
main section ul li.countryCode input {
  flex: 2;
}
main section ul li.points {
  position: relative;
  color: #6500ee;
  background-color: #f0e5fd;
  padding: 12px 16px;
  border-radius: 8px;
  font-size: 12px;
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-top: 8px;
}
main section ul li.points span,
main section ul li.points a,
main section ul li.points p {
  font-family: "Noto Sans TC", sans-serif;
}
main section ul li.points a {
  text-decoration: underline;
  color: #6500ee;
}
main section ul li.points .scrollable {
  background-color: #ffffff;
  border-radius: 8px;
  padding: 12px 16px;
}
main section ul li.points .scrollable div {
  max-height: 80px;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  padding-right: 8px;
}
main section ul li.points .scrollable div p {
  font-size: 12px;
  color: #54596d;
}
main section ul li.points .scrollable div::-webkit-scrollbar {
  display: inline;
  width: 5px;
  border-radius: 10px;
}
main section ul li.points .scrollable div::-webkit-scrollbar-thumb {
  width: 5px;
  border-radius: 10px;
  background-color: #9a9da7;
}

section.fixed-info {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 8px;
  width: 100%;
  padding: 12px 20px 20px;
  background-color: #fff;
  border-radius: 12px 12px 0 0;
  box-shadow: 0px -4px 10px 0px rgba(0, 0, 0, 0.04);
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 1;
}
section.fixed-info p {
  font-weight: 500;
  font-size: 14px;
  color: #353b50;
}
section.fixed-info p.price {
  font-weight: 500;
  font-size: 22px;
  color: #e72e6b;
}

.order-info {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.order-info p {
  font-weight: 500;
  font-size: 16px;
  color: #353b50;
}
.order-info p span {
  color: #e72e6b;
  font-weight: 500;
}

.cc-info {
  position: relative;
}
.cc-info button {
  width: auto;
  padding: 8px 12px;
  font-weight: 500;
  font-size: 14px;
  position: absolute;
  top: 24px;
  right: 20px;
}
.cc-info .alert {
  background-color: #fff1f6;
  color: #62616e;
  font-size: 14px;
  border-radius: 6px;
  padding: 8px 16px;
  display: flex;
  align-items: center;
  gap: 4px;
  margin-bottom: 20px;
}
.cc-info .cradit-card {
  background-position: center right 12px;
  background-size: 22px;
  background-repeat: no-repeat;
}
.cc-info .input-group {
  display: flex;
  gap: 4px;
}
.cc-info .input-group > div {
  flex: 1;
}

.invoice-info li:first-child select {
  margin-bottom: 8px;
}
.invoice-info li:first-child select:last-child {
  margin-bottom: 0px;
}
.invoice-info .group {
  display: flex;
  margin-top: 4px;
  flex-direction: row;
  align-items: center;
  justify-content: right;
  gap: 8px;
}
.invoice-info .group span {
  width: calc(100% - 8px - 60px);
  margin: 0;
}
.invoice-info .group a {
  font-weight: 400;
  font-size: 12px;
  color: #353b50;
  text-decoration: underline;
  transition: all 0.3s ease;
}
@media (hover: hover) {
  .invoice-info .group a:hover {
    opacity: 0.5;
    transition: all 0.3s ease;
  }
}
.invoice-info .address {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  gap: 8px 4px;
}
.invoice-info .address select#city,
.invoice-info .address select#area {
  width: calc(50% - 2px);
}

.phone-info .send-input {
  flex: 2;
  position: relative;
}
.phone-info .send-input .input {
  padding-right: 110px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.phone-info .send-input .send {
  width: 102px;
  font-weight: 500;
  font-size: 14px;
  color: #fff;
  text-align: center;
  border-radius: 0 8px 8px 0;
  position: absolute;
  top: 1px;
  right: 1px;
  border: 0;
}
.phone-info .send-input .send:disabled {
  background-color: #dddddd;
  cursor: auto;
}

@keyframes checkbox-checked {
  50% {
    width: 0;
    height: 4px;
  }
  100% {
    width: 8px;
    height: 4px;
  }
}
@keyframes ani-dot {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
  100% {
    -webkit-transform: scale(0.3);
    transform: scale(0.3);
  }
}